<!-- Navbar  -->
<app-nav-component
  titulo="Formulario de Compras"
  enlace_Href="../historial-compras"
  titulo_enlace="<< Regresar"
/>
<br />

<!-- Formulario de Compra -->
<form
  action=""
  class="w-full mt-20 px-2 xl:px-15"
  [formGroup]="formularioCompras"
>
  <!-- Informacion de factura de la compra -->
  <div
    class="flex flex-col w-full lg:grid lg:grid-cols-3 gap-2 xl:gap-10 mb-10 lg:mt-5"
  >
    <!-- Fecha de compra Input -->
    <div class="flex flex-col gap-3 w-[100%]">
      <label for="fechaCompra" class="block mb-2 font-semibold"
        >Fecha de compra:</label
      >
      <input
        name="fechaCompra"
        type="date"
        class="border-none rounded-full"
        formControlName="fechaCompra"
        placeholder="Seleccionar fecha"
      />
    </div>

    <!-- N de factura y Proveedor -->
    <div class="flex flex-col gap-3 w-[100%]">
      <!-- N de factura Input -->
      <div class="flex flex-col gap-3 lg:flex-row">
        <label for="numeroFactura" class="block mb-2 font-medium"
          >N° de factura:</label
        >
        <input
          type="text"
          id="numeroFactura"
          formControlName="numeroFactura"
          class="w-full h-[85%] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full block p-3"
          placeholder="N Factura"
          required
        />
      </div>

      <!-- Proveedor Input -->
      <div class="flex flex-col gap-3 lg:flex-row">
        <div class="flex flex-col gap-3 w-[100%] relative">
          <label for="proveedor" class="font-semibold"
            >Seleccione un proveedor:</label
          >

          <select
            name="proveedor"
            id="proveedor"
            formControlName="proveedor"
            class="w-full text-gray-700 border-none bg-gray-100 hover:bg-gray-200 font-medium rounded-full text-sm px-5 py-2.5 inline-flex items-center"
          >
            <option
              *ngFor="let proveedor of proveedores"
              class="block px-4 py-2 hover:bg-gray-100"
            >
              {{ proveedor }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- Metodo de pago Input -->
    <div class="flex flex-col gap-3 w-[100%] relative">
      <label for="metodoPago" class="font-semibold"
        >Seleccione un metodo de pago:</label
      >

      <select
        name="metodoPago"
        id="metodoPago"
        formControlName="metodoPago"
        class="w-full text-gray-700 border-none bg-gray-100 hover:bg-gray-200 font-medium rounded-full text-sm px-5 py-2.5 inline-flex items-center"
      >
        <option
          *ngFor="let metodoPago of metodosPago"
          class="block px-4 py-2 hover:bg-gray-100"
        >
          {{ metodoPago }}
        </option>
      </select>
    </div>
  </div>

  <!-- Tabla de productos -->
  <div class="relative overflow-x-auto sm:rounded-lg w-full">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <!-- Encabezado de la tabla -->
      <thead
        class="text-xs text-white-font-color uppercase bg-tablas-encabezados-color"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Imagen</th>
          <th scope="col" class="px-6 py-3">Código de Producto</th>
          <th scope="col" class="px-6 py-3">Nombre del producto</th>
          <th scope="col" class="px-6 py-3">Descripción</th>
          <th scope="col" class="px-6 py-3">Categoría</th>
          <th scope="col" class="px-6 py-3">Cantidad</th>
          <th scope="col" class="px-6 py-3">Costo Unitario</th>
          <th scope="col" class="px-6 py-3">Precio de Venta</th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>

      <tbody>
        <!-- Contenido Dummy de la tabla -->
        <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
          <td class="px-2 py-2 xl:px-4 xl:py-4">
            <img
              src="https://www.aismee.es/bibliotheque/190/collier-argent-petits-coeurs-personnalises.jpg"
              alt="descripcion de la imagen"
              class="w-[100%] h-[20vh] xl:w-[10vw] object-cover"
            />
          </td>
          <td class="px-6 py-4">XUJKLMNPT001</td>
          <td class="px-6 py-4">CADENA DE CORAZON PLATEADO DE 15 CM</td>
          <td class="px-6 py-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer.
          </td>
          <td class="px-6 py-4">Accesorios</td>
          <td class="px-6 py-4">5</td>
          <td class="px-6 py-4">$2.25</td>
          <td class="px-6 py-4">$4.25</td>
          <td class="px-6 py-4">
            <button
              type="button"
              class="font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center cursor-pointer"
            >
              <svg
                class="w-6 h-6 text-eliminar-claro"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                />
              </svg>

              <span class="sr-only">Boton eliminar fila</span>
            </button>
          </td>
        </tr>

        <!-- Formulario Input de la tabla -->
        <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
          <!-- Input de Subir Archivo -->
          <td class="px-6 py-4 flex flex-col items-center justify-center">
            <label
              class="hidden mb-2 text-sm font-medium text-gray-900"
              for="imagen"
              >Subir imagen</label
            >
            <input
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none cursor-pointer"
              aria-describedby="file_input_help"
              id="imagen"
              type="file"
            />
            <p class="mt-1 text-sm text-gray-500" id="file_input_help">
              SVG, PNG, JPG or GIF (MAX. 800x400px).
            </p>
          </td>

          <!-- Código de producto -->
          <td class="px-6 py-4">
            <input
              type="text"
              id="codigoProducto"
              class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-3"
              placeholder="XUJKLMNPT001"
              required
              disabled
            />
          </td>

          <!-- Nombre de producto Input -->
          <td class="px-6 py-4">
            <input
              type="text"
              id="nombreProducto"
              formControlName="nombreProducto"
              placeholder="Escribir nombre de producto aquí"
              class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500"
            />
          </td>

          <!-- Descripcion de producto Input -->
          <td class="px-6 py-4">
            <input
              type="text"
              id="descripcionProducto"
              formControlName="descripcionProducto"
              placeholder="Escribir descripcion de producto aquí"
              class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500"
            />
          </td>

          <!-- Dropdown de Categorias -->
          <td class="px-6 py-4">
            <label for="categoria" class="font-semibold mb-5" hidden
              >Categorias:</label
            >
            <select
              name="categoria"
              id="categoria"
              formControlName="categoria"
              class="w-full text-gray-700 border-none bg-gray-100 hover:bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center"
            >
              <option
                *ngFor="let categoria of categorias"
                class="block px-10 py-2 hover:bg-gray-100"
              >
                {{ categoria }}
              </option>
            </select>
          </td>

          <!-- Cantidad Input -->
          <td class="px-6 py-4">
            <label for="cantidadProducto" hidden>Cantidad: </label>

            <input
              type="number"
              id="cantidadProducto"
              formControlName="cantidadProducto"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              placeholder="0"
              required
            />
          </td>

          <!-- Precio Unitario Input -->
          <td class="px-6 py-4">
            <label for="costoUnitario" hidden>Costo Unitario: </label>
            <input
              type="number"
              id="costoUnitario"
              formControlName="costoUnitario"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              placeholder="$2.25"
              required
            />
          </td>

          <!-- Precio de Venta Input -->
          <td class="px-6 py-4">
            <label for="precioVenta" hidden>Precio Venta: </label>

            <input
              type="number"
              id="precioVenta"
              formControlName="precioVenta"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              placeholder="$4.25"
              required
            />
          </td>

          <!-- Boton Eliminar Fila -->
          <td class="px-6 py-4">
            <button
              type="button"
              class="font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center cursor-pointer"
            >
              <svg
                class="w-6 h-6 text-eliminar-claro"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                />
              </svg>

              <span class="sr-only">Boton eliminar fila</span>
            </button>
          </td>
        </tr>
        <br />

        <!-- Total de la compra -->
        <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
          <td class="px-6 py-4 font-bold">Total:</td>
          <td class="px-6 py-4">$22.50</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br />

  <!-- Grupo de botones -->
  <div class="absolute md:right-15">
    <button type="button" class="boton-redondeado-claro cursor-pointer">
      Agregar fila
    </button>
    <button type="button" class="boton-redondeado-oscuro cursor-pointer">
      Guardar
    </button>
    <button type="button" class="boton-redondeado-borrar cursor-pointer">
      Borrar
    </button>
  </div>
</form>
<pre>{{ formularioCompras.value | json }}</pre>
