<a href="" class="absolute right-5 top-2 lg:right-15 lg:top-5 sub font-bold text-fondo-celeste-suave "><< Volver al menú principal</a>
<div class="mt-70 lg:mt-30">
    <img src="Logo3.svg" alt="Logo" class="mx-auto my-7" width="100" height="200"/>
    <form class="max-w-sm mx-auto">
    <div class="mb-5">
        <label
        for="nombre"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Nombre</label
      >
      <input
        type="text"
        id="nombre"
        class="w-96 p-2.5 border border-gray-300 rounded-full"
        placeholder="Aimeli"
      />
    </div>
    <div class="mb-5">
      <label
        for="direccion"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Dirección</label
      >
      <input
        type="text"
        id="Direccion"
        class="w-96 p-2.5 border border-gray-300 rounded-full"
        placeholder="San Salvador, El Salvador"
      />
    </div>
    <div class="mb-5">
      <label
        for="telefono"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Número de telefono</label
      >
      <input
        type="number"
        id="telefono"
        class="w-96 p-2.5 border border-gray-300 rounded-full"
        placeholder="+503 1234-5678"
      />
    </div>
    <div class="flex justify-center items-center mt-10 w-full">
        <button class="boton-redondeado-oscuro h-11 lg:w-[20vw] mb-5">Guardar</button>
      </div>
    </form>
</div>