<a  href="../inicio" class="absolute right-5 top-2 lg:right-15 lg:top-5 sub font-bold text-fondo-celeste-suave " ><< Atrás</a>
<div class="mt-20">
    <img src="Logo3.svg" alt="Logo" class="mx-auto my-7" width="100" height="200"/>
    <form class="max-w-sm mx-auto">
        <div class="flex lg:flex-row flex-col justify-center gap-8">
            <div class="flex flex-col">
            <div class="mb-5">
                <label
                  for="nombre"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Nombre</label
                >
                <input
                  type="text"
                  id="nombre"
                  class="w-96 p-2.5 border border-gray-300 rounded-full"
                  placeholder="Nombre"
                />
              </div>
              <div class="mb-5">
                <label
                  for="apellido"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Apellido</label
                >
                <input
                  type="text"
                  id="apellido"
                  class="w-96 p-2.5 border border-gray-300 rounded-full"
                  placeholder="Apellido"
                />
              </div>
              <div class="mb-5">
                <label
                  for="username"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Username</label
                >
                <input
                  type="text"
                  id="username"
                  class="w-96 p-2.5 border border-gray-300 rounded-full"
                  placeholder="Username"
                />
              </div>
            </div>
            <div class="flex flex-col">
              <label
                    for="nombre"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Rol</label
                  >
                  <div class="w-full relative">
                    <button
                      id="dropdownDefaultButton1"
                      data-dropdown-toggle="dropdown1"
                      class="w-full text-black-font-color bg-gray-100 hover:bg-gray-200 font-medium rounded-full text-sm px-5 py-2.5 text-center inline-flex items-center"
                      type="button"
                    >
                      Rol
                      <svg
                        class="w-2.5 h-2.5 ms-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 10 6"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m1 1 4 4 4-4"
                        />
                      </svg>
                    </button>
          
                    <!-- Dropdown menu -->
                    <div
                      id="dropdown1"
                      class="absolute w-full z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm"
                    >
                      <ul
                        class="py-2 text-sm text-gray-700"
                        aria-labelledby="dropdownDefaultButton1"
                      >
                        <li>
                          <a href="#" class="block px-4 py-2 hover:bg-gray-100">Observador</a>
                        </li>
                    </ul>
                    </div>  
                </div>
              <div class="mt-6">
                <label
                  for="Password"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Contraseña</label
                >
                <input
                  type="password"
                  id="password"
                  class="w-96 p-2.5 border border-gray-300 rounded-full"
                  placeholder="Contraseña..."
                />
              </div>
              <div class="mt-5">
                <label
                  for="Password"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Confirmar Contraseña</label
                >
                <input
                  type="password"
                  id="password"
                  class="w-96 p-2.5 border border-gray-300 rounded-full"
                  placeholder="Contraseña..."
                />
                </div>
              </div>
            </div>
          <div class="flex justify-center mt-10">
            <button class="boton-redondeado-oscuro h-11 lg:w-[20vw] mb-5">Registrar Usuario</button>
          </div>
      </form>
      
    </div>