<app-nav-component titulo="Formulario Destinos" />
<section class="lg:mt-[10%] mt-[25%]">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <section class="flex justify-center order-2 lg:order-1">
      <div
        class="snap-y bg-fondo-terciario rounded-xl scroll-py-4 overflow-y-auto h-[60vh] w-[90%] lg:w-[80%] custom-scrollbar"
      >
        <ul class="snap-start px-10 py-6">
          <li class="flex justify-between items-center"
          *ngFor="let destino of destinos; let i = index">
            <div>
              <br>
      <div><span class="font-bold">Departamento:</span> {{ destino.departamento }}</div>
        <div><span class="font-bold">Municipio:</span> {{ destino.municipio }}</div>
        <div><span class="font-bold">Punto de Entrega:</span> {{ destino.puntoEntrega }}</div>
        <div><span class="font-bold">Encomendista:</span> {{ destino.encomendista }}</div>
      
    </div>
    <button
      class="text-select-text-color font-bold cursor-pointer"
      (click)="SeleccionarDestino(i)"
    >
      Select
    </button>
          </li>
          
        </ul>
      </div>
    </section>

    <section class="flex justify-center order-1 lg:order-2">
      <form [formGroup]="formularioDestino">
        <div class="flex justify-center w-full order-2 lg:order-1 gap-2">
          <!-- Departamentos Dropdown -->
          <div class="flex flex-col gap-3 w-full relative">
            <label for="departamentos" class="font-semibold"
              >Departamentos:</label
            >
            <div>
              <select
                id="departamentos"
                formControlName="departamento"
                class="w-full text-gray-700 border-none bg-gray-100 hover:bg-gray-200 font-medium rounded-full text-sm px-5 py-2.5 inline-flex items-center"
              >
                <option value="" disabled selected>Departamentos</option>
                <option
                  *ngFor="let departamento of departamentos"
                  [value]="departamento.id"
                  class="block px-4 py-2 hover:bg-gray-100"
                >
                  {{ departamento.departamento }}
                </option>
              </select>
            </div>
          </div>
          <!-- Municipios Dropdown -->

          <div class="mb-5 w-full">
            <div class="flex flex-col gap-3 w-full relative">
  <label for="municipios" class="font-semibold">Municipios:</label>
  <div>
    <select
      id="municipios"
      formControlName="municipio"
      class="w-full text-gray-700 border-none bg-gray-100 hover:bg-gray-200 font-medium rounded-full text-sm px-5 py-2.5"
    >
      <option value="" disabled selected>Municipio</option>
      <option
        *ngFor="let municipio of municipios"
        [value]="municipio.id"
        class="block px-4 py-2 hover:bg-gray-100"
      >
        {{ municipio.municipio }}
      </option>
    </select>
  </div>
</div>

          </div>
        </div>
        <div class="mb-5">
          <label
            for="punto_entrega"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Punto de Entrega</label
          >
          <input
            type="text"
            id="punto_entrega"
            formControlName="punto_entrega"
            class="w-96 p-2.5 border border-gray-300 rounded-full"
            placeholder="Punto de Entrega"
          />
        </div>
        <div class="mb-5 w-full flex flex-col gap-3">
          <label for="encomendistas" class="font-semibold"
            >Seleccionar encomendista:</label
          >
          <div>
            <select
              id="encomendistas"
              formControlName="encomendista"
              class="w-full text-gray-700 border-none bg-gray-100 hover:bg-gray-200 font-medium rounded-full text-sm px-5 py-2.5 inline-flex items-center"
            >
              <option value="" disabled selected>Encomendista</option>
              <option
                *ngFor="let Encomendista of encomendistas"
                [value]="Encomendista.id"
                class="block px-4 py-2 hover:bg-gray-100"
              >
                {{ Encomendista.nombre }}
              </option>
            </select>
          </div>
        </div>
        <div class="flex flex-row-reverse items-center lg:mt-10">
          <button
            class="boton-redondeado-oscuro h-11 lg:w-[20vw] cursor-pointer"
            (click)="agregarDestino()"
            >
            Guardar Destino
          </button>
          <button class="boton-icono-eliminar-relleno cursor-pointer"
          (click)="eliminarDestino()">
            <svg
              class="w-6 h-6 text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
              />
            </svg>
          </button>
        </div>
      </form>
    </section>
  </div>
</section>
