<app-nav-component titulo="Formulario Destinos" />
<section class="lg:mt-[10%] mt-[25%]">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <section class="flex justify-center order-2 lg:order-1">
      <div class="snap-y bg-fondo-terciario rounded-xl scroll-py-4 overflow-y-auto h-[60vh] w-[90%] lg:w-[80%] custom-scrollbar">
      <ul class="snap-start px-10 py-6">
        <li class="flex justify-between items-center font-bold">Destino 1 <a href="" class="text-select-text-color font-bold">Select</a></li>
      </ul>
      </div>
    </section>
    <section class="flex justify-center order-1 lg:order-2">
      <form>
        <div class="flex justify-center w-full order-2 lg:order-1 gap-2">
        <div class="mb-5 w-full">
          <label
            for="nombre"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Departamento</label
          >
          <div class="w-full lg:w-50 relative">
            <button
              id="dropdownDefaultButton1"
              data-dropdown-toggle="dropdown1"
              class="w-full text-black-font-color bg-gray-100 hover:bg-gray-200 font-medium rounded-full text-sm px-5 py-2.5 text-center inline-flex items-center"
              type="button"
            >
              Departamento
              <svg
                class="w-2.5 h-2.5 ms-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
  
            <!-- Dropdown menu -->
            <div
              id="dropdown1"
              class="absolute w-full z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm"
            >
              <ul
                class="py-2 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownDefaultButton1"
              >
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100">San Salvador</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100">San Miguel</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100">Sants Ana</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100">Sonsonate</a>
                </li>
              </ul>
            </div>  
        </div>
    </div> 
    <div class="mb-5 w-full">
        <label
          for="nombre"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Municipio</label
        >
        <div class="w-full lg:w-50 relative">
          <button
            id="dropdownDefaultButton2"
            data-dropdown-toggle="dropdown2"
            class="w-full text-black-font-color bg-gray-100 hover:bg-gray-200 font-medium rounded-full text-sm px-5 py-2.5 text-center inline-flex items-center"
            type="button"
          >
            Municipio
            <svg
              class="w-2.5 h-2.5 ms-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>

          <!-- Dropdown menu -->
          <div
            id="dropdown2"
            class="absolute w-full z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="dropdownDefaultButton2"
            >
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">San Salvador Centro</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">San Salvador Este</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">San Salvador Sur</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">San Salvador Oeste</a>
              </li>
            </ul>
          </div>  
      </div>
  </div>
</div>
        <div class="mb-5">
          <label
            for="Punto"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white font"
            >Punto de Entrega</label
          >
          <input
            type="text"
            id="punto"
            class="w-96 p-2.5 border border-gray-300 rounded-full"
            placeholder="Punto de Entrega"
          />
        </div>
        <div class="mb-5 w-full">
            <label
              for="nombre"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Municipio</label
            >
            <div class="w-full lg:w-50 relative">
              <button
                id="dropdownDefaultButton3"
                data-dropdown-toggle="dropdown3"
                class="w-full text-black-font-color bg-gray-100 hover:bg-gray-200 font-medium rounded-full text-sm px-5 py-2.5 text-center inline-flex items-center"
                type="button"
              >
                Encomendista
                <svg
                  class="w-2.5 h-2.5 ms-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"
                  />
                </svg>
              </button>
    
              <!-- Dropdown menu -->
              <div
                id="dropdown3"
                class="absolute w-full z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm"
              >
                <ul
                  class="py-2 text-sm text-gray-700 dark:text-gray-200"
                  aria-labelledby="dropdownDefaultButton3"
                >
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Encomendista 1</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Encomendista 2</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Encomendista 3</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Encomendista 4</a>
                  </li>
                </ul>
              </div>  
          </div>
      </div>
        <div class="flex flex-row items-center lg:mt-10">
        <button class="boton-icono-eliminar-relleno"><svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
        </svg>
        </button>
        <button class="boton-redondeado-oscuro h-11 lg:w-[20vw]">Guardar Destino</button>
      </div>
      </form>
    </section>
  </div>
</section>
