/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
    /*Variables globales*/
    --color-fondo-primario: #DAE4EC;
    --color-fondo-secundario: #133A6C;
    --color-fondo-terciario: #FFFFFF;
    --color-fondo-celeste-suave: #3271C0;
    --color-fondo-gris-suave: #D9D9D9;
    --color-eliminar-claro: #C00F0C;


    /*Color de fuentes principales*/
    --color-black-font-color: #000000;
    --color-white-font-color: #FFFFFF;


    /*Variables de pantalla de Inventario*/
    --color-boton-editar-fondo: #633B48;

    /*Variables para formularios*/
    --color-select-text-color: #1C86A4;
    --color-eliminar-oscuro: #B24244;

    /*Variables para formularios: ventas y compras*/
    --color-tablas-encabezados-color: #648AB5;
    --color-tablas-texto-de-celdas-color: #747373;


    /*Variables para botones iconos*/
    --color-icono-calendar-color: #1E1E1E;

    /*Variable de sombra*/
    --shadow-variable-sombra: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@layer components {
    .boton-cuadrado-oscuro {
        @apply px-6 py-3.5 text-base font-medium text-white bg-fondo-secundario hover:bg-[#0D2444] focus:bg-[#355C92] rounded-[25px] text-center;
    }
    
    .boton-redondeado-oscuro {
        @apply text-white bg-fondo-secundario hover:bg-[#0D2444] focus:bg-[#355C92] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 shadow-variable-sombra;
    }
    
    .boton-redondeado-claro {
        @apply text-white bg-fondo-celeste-suave hover:bg-[#3569A9] focus:bg-[#6D9ED9] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 shadow-variable-sombra;
    }
    
    .boton-icono-eliminar-relleno {
        @apply bg-eliminar-oscuro hover:bg-red-800 text-white font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 shadow-variable-sombra;
    }

    .boton-icono-editar {
        @apply text-white bg-boton-editar-fondo hover:bg-[#54393C] font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 shadow-variable-sombra;
    }

    .boton-icono-agregar-carrito {
        @apply text-white  bg-fondo-secundario hover:bg-[#0D2444] font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 shadow-variable-sombra;
    }

    .boton-redondeado-eliminar {
        @apply text-white bg-eliminar-claro hover:bg-[#AD1D1F] focus:bg-[#F22F2C] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 shadow-variable-sombra;
    }
    .boton-redondeado-borrar {
        @apply text-black-font-color bg-fondo-gris-suave hover:bg-[#7A7A7A] focus:bg-[#D6D6D6] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 shadow-variable-sombra;
    }

    .centrar-contenido {
        @apply flex items-center justify-center;
    }

    .ocupar-espacio-del-contenedor {
        @apply w-[100%] h-[100%];
    }
}