/* Estilos para ambos botones cuando su panel est치 expandido */
#accordion-collapse [aria-expanded="true"][data-accordion-target="#accordion-collapse-body-1"],
#accordion-collapse [aria-expanded="true"][data-accordion-target="#accordion-collapse-body-2"] {
  background-color: #133A6C;
  color: white; /* Or your desired text color */
}

/* Estilos para ambos botones cuando su panel est치 colapsado */
#accordion-collapse [aria-expanded="false"][data-accordion-target="#accordion-collapse-body-1"],
#accordion-collapse [aria-expanded="false"][data-accordion-target="#accordion-collapse-body-2"] {
  color: white; /* Or your desired text color */
} 

/* Hover para ambos botones cuando su panel est치 expandido */
#accordion-collapse [aria-expanded="true"][data-accordion-target="#accordion-collapse-body-1"]:hover,
#accordion-collapse [aria-expanded="true"][data-accordion-target="#accordion-collapse-body-2"]:hover {
  background-color: #0D2444;
  color: white;
}

/* Focus para ambos botones cuando su panel est치 expandido */
#accordion-collapse [aria-expanded="true"][data-accordion-target="#accordion-collapse-body-1"]:focus,
#accordion-collapse [aria-expanded="true"][data-accordion-target="#accordion-collapse-body-2"]:focus {
  background-color: #355C92;
  color: white;
}