<section
  class="flex flex-col justify-center lg:justify-between min-lg:flex-row-reverse h-[100vh] w-[100vw]"
>
  <img
    src="LogoAimeliResponsive.svg"
    alt="Logo-Aimeli"
    class="h-60 w-60 mx-auto block lg:hidden"
  />
  <img src="LogoAimeli.svg" alt="Logo-Aimeli" class="hidden lg:block" />
  <div
    class="flex flex-col gap-1 lg:pl-10 xl:pl-25 lg:justify-center lg:items-center p-5 min-lg:w-[50%] lg:h-[100vh]"
  >
    <span
      class="font-bold text-center text-black-font-color text-lg lg:text-2xl"
      >Bienvenida Alexandra</span
    >
    <br />

    <button
      routerLink="inventario"
      routerLinkActive="active"
      class="boton-cuadrado-oscuro text-lg md:text-2xl h-[2.5rem] md:h-[3.5rem] flex items-center justify-center min-lg:h-[5rem] w-[100%]"
    >
      Inventarios
    </button>

    <div
      id="accordion-collapse"
      data-accordion="collapse"
      class="flex flex-col gap-1 w-[100%]"
    >
      <!-- Dropdown Menu 1 -->

      <button
        data-accordion-target="#accordion-collapse-body-1"
        aria-expanded="false"
        aria-controls="accordion-collapse-body-1"
        class="boton-cuadrado-oscuro text-lg md:text-2xl h-[2.5rem] md:h-[3.5rem] min-lg:h-[5rem] w-[100%] justify-center items-center inline-flex gap-2 cursor-pointer"
        type="button"
      >
        Movimientos
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"
          />
        </svg>
      </button>

      <div
        id="accordion-collapse-body-1"
        class="hidden"
        aria-labelledby="accordion-collapse-heading-1"
      >
        <div
          class="lg:pl-24 pl-14 py-5 text-base md:text-lg lg:text-2xl border border-b-0 border-gray-200 bg-fondo-terciario rounded-2xl font-bold"
        >
          <ul>
            <li>
              <a
                routerLink="compras/historial-compras"
                routerLinkActive="active"
                >Compras</a
              >
            </li>
            <li>
              <a routerLink="ventas/listado-productos" routerLinkActive="active"
                >Ventas</a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- Dropdown Menu 2 -->

      <button
        data-accordion-target="#accordion-collapse-body-2"
        aria-expanded="false"
        aria-controls="accordion-collapse-body-2"
        class="boton-cuadrado-oscuro text-lg md:text-2xl h-[2.5rem] md:h-[3.5rem] min-lg:h-[5rem] w-[100%] justify-center items-center inline-flex gap-2 cursor-pointer"
        type="button"
      >
        Agregar
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"
          />
        </svg>
      </button>

      <!-- Dropdown Menu -->
      <div
        id="accordion-collapse-body-2"
        class="hidden"
        aria-labelledby="accordion-collapse-heading-2"
      >
        <div
          class="lg:pl-24 pl-14 py-5 text-base md:text-lg lg:text-2xl border border-b-0 border-gray-200 bg-fondo-terciario rounded-2xl font-bold"
        >
          <ul>
            <li>
              <a routerLink="formularios/clientes" routerLinkActive="active"
                >Clientes</a
              >
            </li>
            <li>
              <a routerLink="formularios/proveedores" routerLinkActive="active"
                >Proveedores</a
              >
            </li>
            <li>
              <a routerLink="formularios/categorias" routerLinkActive="active"
                >Categorías</a
              >
            </li>
            <li>
              <a
                routerLink="formularios/encomendistas"
                routerLinkActive="active"
                >Encomendistas</a
              >
            </li>
            <li>
              <a routerLink="formularios/destinos" routerLinkActive="active"
                >Destinos</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button
      class="boton-cuadrado-oscuro text-lg md:text-2xl h-[2.5rem] md:h-[3.5rem] flex items-center justify-center min-lg:h-[5rem] w-[100%]"
      routerLink="reportes"
      routerLinkActive="active"
      type="button"
    >
      Reportes
    </button>

    <button
      type="button"
      routerLink="formulario-info-aimeli"
      routerLinkActive="active"
      class="boton-cuadrado-oscuro text-lg md:text-2xl h-[2.5rem] md:h-[3.5rem] flex items-center justify-center min-lg:h-[5rem] w-[100%]"
    >
      Datos de Aimeli
    </button>

    <br />
    <button
      type="button"
      (click)="cerrarSesion()"
      class="lg:absolute xl:left-10 xl:bottom-10 lg:left-2 lg:bottom-2 flex flex-row items-center justify-center text-lg font-bold hover:cursor-pointer"
      routerLink="inicio"
      routerLinkActive="active"
    >
      <div
        class="inline-flex items-center justify-center h-10 w-10 rounded-full bg-fondo-iconos-menus focus:ring-4 focus:outline-none focus:ring-[#D8E9FD] text-center me-2"
      >
        <svg
          class="w-6 h-6 text-fondo-secundario"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      Cerrar Sesion
    </button>
  </div>
</section>
<router-outlet />
