<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead
      class="text-xs text-white-font-color uppercase bg-tablas-encabezados-color"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Fecha de compra</th>
        <th scope="col" class="px-6 py-3">N° de factura</th>
        <th scope="col" class="px-6 py-3">Proveedor</th>
        <th scope="col" class="px-6 py-3">Productos</th>
        <th scope="col" class="px-6 py-3">Método de pago</th>
        <th scope="col" class="px-6 py-3">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
        <td class="px-6 py-4">{{ fecha_compra }}</td>
        <td class="px-6 py-4">{{ n_factura }}</td>
        <td class="px-6 py-4">{{ proveedor }}</td>
        <td class="px-6 py-4">{{ productos }}</td>
        <td class="px-6 py-4">{{ metodo_pago }}</td>
        <td class="px-6 py-4">${{ total }}</td>
      </tr>
    </tbody>
  </table>
</div>
