<app-nav-component titulo="Formulario Encomendistas" />
<section class="lg:mt-[10%] mt-[25%]">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <section class="flex justify-center order-2 lg:order-1">
      <div class="snap-y bg-fondo-terciario rounded-xl scroll-py-4 overflow-y-auto h-[60vh] w-[90%] lg:w-[80%] custom-scrollbar">
      <ul class="snap-start px-10 py-6">
        <li class="flex justify-between items-center font-bold">Encomendista 1 <a href="" class="text-select-text-color font-bold">Select</a></li>
      </ul>
      </div>
    </section>
    <section class="flex justify-center order-1 lg:order-2">
      <form>
        <div class="mb-5">
          <label
            for="nombre"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Nombre del Encomendista</label
          >
          <input
            type="text"
            id="nombre"
            class="w-96 p-2.5 border border-gray-300 rounded-full "
            placeholder="Encomendista"
            required
          />
        </div>
        <div class="mb-5">
          <label
            for="text"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Local</label
          >
          <input
            type="text"
            id="local"
            class="w-96 p-2.5 border border-gray-300 rounded-full"
            placeholder="Local"
            required
          />
        </div>
        <div class="flex flex-row items-center lg:mt-10">
        <button class="boton-icono-eliminar-relleno"><svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
        </svg>
        </button>
        <button class="boton-redondeado-oscuro h-11 lg:w-[20vw]">Guardar Encomendista</button>
      </div>
      </form>
    </section>
  </div>
</section>
