<!-- Navbar -->
<app-nav-component titulo="Registro de Compras" />

<br />
<section class="lg:mx-25 xl:mx-50 mt-20">
  <!-- call to action button -->
  <div class="flex flex-col lg:flex-row justify-between">
    <h1 class="text-2xl font-bold">Filtrar registro de Compras</h1>
    <br />
    <button
      type="button"
      routerLink="../formulario-compras"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="max-md:w-[60%] max-md:mx-auto boton-redondeado-oscuro cursor-pointer"
    >
      Registrar nueva comprar
    </button>
  </div>
  <br />

  <!-- Range Selector -->

  <div>
    <div
      id="date-range-picker"
      date-rangepicker
      class="flex items-center justify-center"
    >
      <div class="relative">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
            />
          </svg>
        </div>
        <input
          id="datepicker-range-start"
          name="start"
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
          placeholder="Fecha de inicio"
        />
      </div>
      <span class="mx-4 text-gray-500">a</span>
      <div class="relative">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
            />
          </svg>
        </div>
        <input
          id="datepicker-range-end"
          name="end"
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
          placeholder="Fecha final"
        />
      </div>
    </div>
  </div>

  <!-- Table Content -->
  <br />
  <div>
    <app-registro-de-compras-tabla />
  </div>
</section>
