<!-- Navbar -->
<app-nav-component titulo="Registro de Compras" />

<br />
<section class="lg:mx-25 xl:mx-50 mt-20">
  <!-- call to action button -->
  <div class="flex flex-col lg:flex-row justify-between">
    <h1 class="text-2xl font-bold">Filtrar registro de Compras</h1>
    <br />
    <button
      type="button"
      routerLink="../formulario-compras"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="max-md:w-[60%] max-md:mx-auto boton-redondeado-oscuro cursor-pointer"
    >
      Registrar nueva comprar
    </button>
  </div>
  <br />

  <!-- Range Selector -->

  <form
    [formGroup]="compraProductosFormulario"
    class="flex flex-col justify-center items-center gap-4"
  >
    <div class="flex flex-row justify-center gap-4">
      <div class="flex flex-col">
        <label for="fechaDesde">Desde:</label>
        <input
          type="date"
          name="fechaDesde"
          id="fechaDesde"
          class="rounded-full border-none"
          formControlName="fechaDesde"
        />
      </div>

      <div class="flex flex-col">
        <label for="fechaHasta">Hasta:</label>
        <input
          type="date"
          name="fechaHasta"
          id="fechaHasta"
          class="rounded-full border-none"
          formControlName="fechaHasta"
        />
      </div>
    </div>
    <button
      type="submit"
      class="boton-redondeado-oscuro cursor-pointer w-[10%]"
      (click)="handleClick()"
    >
      Solicitar registros
    </button>
  </form>

  <!-- Table Content -->
  <br />
  <div>
    <app-registro-de-compras-tabla [registros]="registros" />
  </div>
</section>
